<?php
/**
 * A rather terrible autoloader for phpunit only
 * @author Daniel Mason
 * @copyright Daniel Mason, 2014
 */


function gisleburtFormatAutoload($class) {
    $parts = explode('\\', $class);
    if(array_shift($parts) == 'Gisleburt') {
        if(array_shift($parts) == 'Formatter') {
            if(reset($parts) == 'Tests') {
                array_shift($parts);
                $prefix = 'tests';
            }
            else {
                $prefix = 'src';
            }
            $file = $prefix.'/'.implode('/', $parts).'.php';
            require_once $file;
            return;
        }
    }

}

spl_autoload_register('gisleburtFormatAutoload');